<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Zone", suffix: " · Phoenix Framework" %>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </nav>
      <p>
        There's nothing wrong with having a little fun.
      </p>
    </header>
    <%= @inner_content %>
  </body>
  <footer>
    <p>
      © 2018-<%= Date.utc_today().year %> Epona
    </p>
  </footer>
</html>
