<h1>Hi</h1>


<p>
  My name is Epona. and I'm a full-stack web developer. I'm currently located in Tokyo, Japan🇯🇵. 
</p>

<p>
  I write backend code in PHP & Laravel. but I currently writing some side project using Elixir & Phoenix 💗.  Sometimes I mess around frontend with Vuejs, React.
</p>

<h3>Want to chat?</h3>

<p>
  if you want to talk to me about tech stuff, you can reach me on Twitter [<a href="https://twitter.com/simura_epona">@simura_epona</a>]
</p>
